#title
{
    text-align: center;
}

#table1 {
    margin-left: 80px;
    background-color: aqua;
    border: 1px solid black;
    font-size: 20px;
    float: left;
    width: 200px;
}

#table2
{
    margin-left: 80px;
    background-color: indigo;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
}

#table3
{
    margin-left: 80px;
    background-color: #16ffa9;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
}

#table4
{
    margin-left: 80px;
    background-color: #9207ff;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
}

#table5
{
    margin-left: 80px;
    background-color: #2c7fff;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top:20px;
}

#table6
{
    margin-left: 80px;
    background-color: #efff23;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top:20px;
}

#table7
{
    margin-left: 80px;
    background-color: #ff60e9;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top:20px;
}

#table8
{
    margin-left: 80px;
    background-color: #33a3ff;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top:20px;
}

#table9
{
    margin-left: 80px;
    background-color: #c2c8ff;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top: 20px;
}

#table10
{
    margin-left: 80px;
    background-color: #60ffe4;
    border: 1px solid black;
    font-size:20px;
    float: left;
    width: 200px;
    margin-top:20px;
}

#tabletitle1
{
    text-align: center;
    float:left;
}
